<% if @companies.count > 0 %>

    <div class="table-overflow" style="margin-bottom: 2em !important;">
        <table class="ui center no-margin aligned celled striped unstackable table" >
            <thead>
                <tr style="text-align: center;">
                    <th>Company Name</th>
                    <th>State</th>
                    <th>Total Sites</th>
                    <th>Total Sites Flown</th>
                    <th>% Total Sites</th>
                    <th>Total Acres</th>
                    <th>Total Acres Flown</th>
                    <th>% Total Acres</th>
                    <th>ASI Accepted</th>
                    <th>ASI Rejected</th>
                    <th>USDA Accepted</th>
                    <th>USDA Rejected</th>
                    <th>Total Shipped</th>
                    <th class="single line">% ASI Accepted</th>
                    <th class="single line">% ASI Rejected</th>
                    <th class="single line">% USDA Accepted</th>
                    <th class="single line">% USDA Rejected</th>
                    <th class="single line">% Total Shipped</th>
                </tr>
            </thead>
            <tbody>

                <% 
                    grand_total_states = 0
                    grand_total_sites = 0
                    grand_total_sites_flown = 0
                    grand_total_acres = 0
                    grand_total_acres_flown = 0
                    grand_total_shipped = 0
                    grand_total_asi_accepted = 0
                    grand_total_usda_accepted = 0
                    grand_total_asi_rejected = 0
                    grand_total_usda_rejected = 0
                %>

                <% @companies.each_with_index do |company, index| %>

                    <% 
                        total_sites = 0
                        total_sites_flown = 0
                        total_acres = 0
                        total_acres_flown = 0
                        total_shipped = 0
                        total_asi_accepted = 0
                        total_usda_accepted = 0
                        total_asi_rejected = 0 
                        total_usda_rejected = 0 
                    %>
        
                    <% State.active.includes(:tiles).where(tiles: {flown_by: company, flight_date: @date_flown_from..@date_flown_end, project: @project}).order(:name).each do |state| %>

                        <% 
                            scoped_tiles = company.tiles.where(state: state, flight_date: @date_flown_from..@date_flown_end, project: @project)
                            asi_rejected_tiles = company.rejected_tiles.where(state: state, flight_date: @date_flown_from..@date_flown_end, project: @project)
                            total_tiles = state.tiles.where(project: @project).count
                            acres = state.easements.where(project: @project).sum(&:acres).to_f

                            acres_flown = 0
                            scoped_tiles.each do |tile|
                                acres_flown += tile.easement.acres.to_f
                            end

                            flown = scoped_tiles.count + asi_rejected_tiles.count
                        %>

                        <tr style="text-align: center;">
                            <td><%= company.name %></td>
                            <td><%= state.name %></td>
                            <td><%= total_tiles %></td>
                            <td><%= flown %></td>
                            <td><%= "#{(flown.to_f / total_tiles.to_f * 100).round(2)}%" %></td>
                            <td><%= number_with_delimiter(acres.round(2), delimiter: ',') %></td>
                            <td><%= number_with_delimiter(acres_flown.round(2), delimiter: ',') %></td>
                            <td><%= "#{(acres_flown / acres * 100).round(2)}%" %></td>
                            <td><%= scoped_tiles.count %></td>
                            <td class="<%= "negative" if asi_rejected_tiles.count > 0 %>"><%= asi_rejected_tiles.count %></td>
                            <td><%= scoped_tiles.usda_accepted.count %></td>
                            <td class="<%= "negative" if scoped_tiles.usda_rejected.count > 0 %>"><%= scoped_tiles.usda_rejected.count %></td>
                            <td><%= scoped_tiles.shipped.count %></td>
                            <td class="positive"><%= (scoped_tiles.asi_accepted.count.to_f / flown * 100).round(2) %></td>
                            <td class="<%= "negative" if asi_rejected_tiles.count > 0 %>"><%= (asi_rejected_tiles.count.to_f / flown * 100).round(2) %></td>
                            <td class="positive"><%= (scoped_tiles.usda_accepted.count.to_f / flown * 100).round(2) %></td>
                            <td class="<%= "negative" if scoped_tiles.usda_rejected.count > 0 %>"><%= (scoped_tiles.usda_rejected.count.to_f / flown * 100).round(2) %></td>
                            <td class="positive"><%= (scoped_tiles.shipped.count.to_f / total_tiles * 100).round(2) %></td>
                        </tr>

                        <% 
                            total_sites += total_tiles
                            total_sites_flown += flown
                            total_acres += acres
                            total_acres_flown += acres_flown
                            total_shipped += scoped_tiles.shipped.count
                            total_asi_accepted += scoped_tiles.count
                            total_usda_accepted += scoped_tiles.usda_accepted.count
                            total_asi_rejected += asi_rejected_tiles.count
                            total_usda_rejected += scoped_tiles.usda_rejected.count
                        %>

                    <% end %>

                    <tr class="summary_row" style="text-align: center;">
                        <td colspan="2"><b>Total</b></td>
                        <td><b><%= total_sites %></b></td>
                        <td><b><%= total_sites_flown %></b></td>
                        <td><b><%= "#{(total_sites_flown.to_f / total_sites.to_f * 100).round(2)}%" %></b></td>
                        <td><b><%= number_with_delimiter(total_acres.round(2), delimiter: ',') %></b></td>
                        <td><b><%= number_with_delimiter(total_acres_flown.round(2), delimiter: ',') %></b></td>
                        <td><b><%= "#{(total_acres_flown / total_acres * 100).round(2)}%" %></b></td>
                        <td><b><%= total_asi_accepted %></b></td>
                        <td><b><%= total_asi_rejected %></b></td>
                        <td><b><%= total_usda_accepted %></b></td>
                        <td><b><%= total_usda_rejected %></b></td>
                        <td><b><%= total_shipped %></b></td>
                        <td><b><%= (total_asi_accepted.to_f / total_sites * 100).round(2) %></b></td>
                        <td><b><%= (total_asi_rejected.to_f / total_sites * 100).round(2) %></b></td>
                        <td><b><%= (total_usda_accepted.to_f / total_sites * 100).round(2) %></b></td>
                        <td><b><%= (total_usda_rejected.to_f / total_sites * 100).round(2) %></b></td>
                        <td><b><%= (total_shipped.to_f / total_sites * 100).round(2) %></b></td>
                    </tr>

                    <% 
                        grand_total_sites += total_sites
                        grand_total_sites_flown += total_sites_flown
                        grand_total_acres += total_acres
                        grand_total_acres_flown += total_acres_flown
                        grand_total_shipped += total_shipped
                        grand_total_asi_accepted += total_asi_accepted
                        grand_total_usda_accepted += total_usda_accepted
                        grand_total_asi_rejected += total_asi_rejected
                        grand_total_usda_rejected += total_usda_rejected
                    %>

                <% end %>

                <tr class="total_row" style="text-align: center;">
                    <td colspan="2"><b>Grand Total</b></td>
                    <td><b><%= grand_total_sites %></b></td>
                    <td><b><%= grand_total_sites_flown %></b></td>
                    <td><b><%= "#{(grand_total_sites_flown.to_f / grand_total_sites.to_f * 100).round(2)}%" %></b></td>
                    <td><b><%= number_with_delimiter(grand_total_acres.round(2), delimiter: ',') %></b></td>
                    <td><b><%= number_with_delimiter(grand_total_acres_flown.round(2), delimiter: ',') %></b></td>
                    <td><b><%= "#{(grand_total_acres_flown / grand_total_acres * 100).round(2)}%" %></b></td>
                    <td><b><%= grand_total_asi_accepted %></b></td>
                    <td><b><%= grand_total_asi_rejected %></b></td>
                    <td><b><%= grand_total_usda_accepted %></b></td>
                    <td><b><%= grand_total_usda_rejected %></b></td>
                    <td><b><%= grand_total_shipped %></b></td>
                    <td><b><%= (grand_total_asi_accepted.to_f / grand_total_sites * 100).round(2) %></b></td>
                    <td><b><%= (grand_total_asi_rejected.to_f / grand_total_sites * 100).round(2) %></b></td>
                    <td><b><%= (grand_total_usda_accepted.to_f / grand_total_sites * 100).round(2) %></b></td>
                    <td><b><%= (grand_total_usda_rejected.to_f / grand_total_sites * 100).round(2) %></b></td>
                    <td><b><%= (grand_total_shipped.to_f / grand_total_sites * 100).round(2) %></b></td>
                </tr>

            </tbody>
        </table>
    </div>

<% else %>

    <div class="ui message">
        <div class="content">
            <div class="header">
                No Flights within this date range
            </div>
        </div>
    </div>

<% end %>