<% content_for :template, "large-screen" %>
<% @upload = @history.uploads.first %>

<div class="ui segment">
    <table class="ui center aligned fluid very basic table">
        <thead>
            <tr>
                <th class="eight wide">Message</th>
                <th class="five wide">Created</th>
                <th class="three wide">Submitted By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="collapsing"><%= @history.message %></td>
                <td><%= @history.created_at.localtime.strftime("%m/%d/%Y %I:%M %p") %></td>
                <td>
                    <div class="ui label">
                        <i class="user icon"></i> <%= @history.creator.full_name %>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="ui divider"></div>

<table class="ui sortable center aligned celled striped table" style="margin-bottom: 2em;">
    <thead>
        <tr>
            <th>PolyID</th>
            <th>Flight Date</th>
            <th>Rejected Date</th>
            <th>Rejected Type</th>
            <th>Filename</th>
        </tr>
    </thead>
    <tbody>
        <% @history.rejected_tiles.each do |record| %>
            <tr>
                <td><%= link_to record.poly_id, render_tile_status_report_path(record.poly_id), target: "_blank" %></td>
                <td><%= record.flight_date.strftime("%m/%d/%Y") %></td>
                <td><%= record.rejected_date.strftime("%m/%d/%Y") %></td>
                <td><%= record.rejection_type %></td>
                <td><%= record.filename %></td>
            </tr>
        <% end %>
    </tbody>
</table>
